DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tamales_commerce?schema=public"
REDIS_URL="redis://localhost:6379"
PORT="4000"
NODE_ENV="development"
JWT_ACCESS_SECRET="replace-with-at-least-16-char-secret"
JWT_REFRESH_SECRET="replace-with-at-least-16-char-secret"
FRONTEND_ORIGIN="http://localhost:5173"
FRONTEND_ORIGINS="http://localhost:5173,https://tamalesshop.netlify.app"
